<link rel="stylesheet" href="/css/header.css">

<header id = "header">
    <div id = "header-left">
        <a href=""><img src="/img/logo.jpeg" alt="logo" id = "website-logo"></a>
        <a href=""><h1><code>Eureka Jobs</code></h1></a>
    </div>
    <div id = "header-right">
        <div class="dropdown">
            <button class="dropbtn"><code>MORE</code>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#"><code>Post A Job</code></a>
              <a href="#"><code>Apply For Jobs</code></a>
              <a href="#"><code>Eureka Experts</code></a>
            </div>
          </div>
        <div class = "header-buttons">
            <a href="users/sign-in"><code>SIGN IN</code></a>
        </div>
        <div class = "header-buttons">
            <a href="users/sign-up"><code>SIGN UP</code></a>
        </div>
    </div> 
</header>