<link rel="stylesheet" href="/css/home.css">

<section id = "job-search-section">
    <header>
        <h1>Find Your Dream Job at Eureka!</h1>
    </header>
    <div id = "job-search-form-container">
        <form action="" method="POST" id ="job-search-form">    
            Skills <input type="text" name="skills" class = "input-boxes"> &nbsp;
            Location <input type="text" name = "location" class = "input-boxes"> &nbsp;
            <input type="checkbox" name = "near-me" id = "near-me">
            <label for="near-me">Near me</label> &nbsp;
            <input type="submit" value = "Search">
        </form>
        <br>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</section>>
