<link rel="stylesheet" href="/css/sign_up_category.css">
<div id = "sign-up-category-div">
    <form action="/users/category-sign-up" method="POST" id = "sign-up-category-form">
        <input type="submit" class = "choose-button" name = "employee" value = "JOB SEEKER SIGN UP">
        <input type="submit" class = "choose-button" name = "employer" value = "EMPLOYER SIGN UP">
    </form>
</div>
