body{

    #job-search-section{
        display: flex;
        flex-direction: column;
        height: 100px;
        padding: 20px;

        .input-boxes{
            border: none;
            width: 200px;
            height: 30px;
        }
        
    }

}